<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="default.home">
                <img src="public/img/logo.png">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active dropdown">
                    <a href="#about-us" custom-smooth-scroll-to class="dropdown-toggle" data-toggle="dropdown">ABOUT US</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">Our Staff</a></li>
                        <li><a href="#">OUR HISTORY</a></li>
                        <li><a href="#">FROM THE NATIONAL<br> DIRECTOR</a></li>                     
                    </ul> 
                </li>
                <li class="">
                    <a ui-sref="default.event" data-toggle="dropdown">Events</a>
                </li>
                <li class="dropdown">
                    <a href="#ministries" custom-smooth-scroll-to class="dropdown-toggle" data-toggle="dropdown">MINISTRIES</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">TEENS</a></li>
                        <li><a href="#">CAMPUS</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Church</a></li>                     
                    </ul> 
                </li>
                <li class="dropdown">
                    <a href="#resources" custom-smooth-scroll-to>RESOURCES</a>
                    <ul class="dropdown-menu" role="menu" class="dropdown-toggle" data-toggle="dropdown">
                        <li><a href="#">Facilities</a></li>
                        <li><a href="#">Discipleship<br> Resources</a></li>
                        <li><a href="#">NavMedia</a></li>
                        <li><a href="#">NavNews</a></li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#giving" custom-smooth-scroll-to class="dropdown-toggle" data-toggle="dropdown">GIVING</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="default.giveToStaff">Give To Staff</a></li>
                        <li><a ui-sref="default.giveToMinistryOrProjects">Give to Ministries or <br>Projects</a></li>
                        <li><a href="#">Frequently Asked<br> Questions</a></li>
                        <li><a href="#">Leave a Navigator <br>Legacy</a></li>                       
                    </ul>
                </li>
                <li><a href="#">CONTACT US</a></li>
                <li ><a ui-sref="church">Church Registeration</a></li>
                <li ng-if="principal.isAuthenticated()"><a ui-sref="default.account">DONOR Account</a></li>
                <li ng-if="!principal.isAuthenticated()"><a ui-sref="default.login">DONOR LOGIN</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>