<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
        </div>
    </div>
</div>
<div class="advanced">
    <h3 class="advanced_title">Query Form</h3>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="advanced_form validation" name="queryForm" ng-submit="querySubmit(queryForm,$event)" novalidate>
            <div class="form-group">
                <label for="name">
                    Name</label>
                <input type="text" class="form-control"  placeholder="Enter name" required="required" ng-model="query.name" name="name" />
                <span class="error" ng-show="queryForm.name.$error.required">Name is required</span>
            </div>
            <div class="form-group">
                <label for="email">
                    Email Address</label>
                <input type="email" class="form-control"  placeholder="Enter email" required="required" ng-model="query.email" name="email" />
                <span class="error" ng-show="queryForm.email.$error.required">Email is required</span>
                <span class="error" ng-show="queryForm.email.$error.email"> Email address is not valid</span>
            </div>
            <div class="form-group">
                <label for="email">
                    Contact Number</label>
                <input type="text" class="form-control"  placeholder="Contact Number" required="required" ng-model="query.phone_number" name="phone" />
                <span class="error" ng-show="queryForm.phone.$error.required">Phone number is required</span>
            </div>
            <div class="form-group">
                <label for="name">
                    Message</label>
					<textarea name="message" id="message" class="form-control" rows="4" cols="15" required="required"
                              placeholder="Message" ng-model="query.message" ></textarea>
                    <span class="error" ng-show="queryForm.message.$error.required">Message is required</span>
            </div>
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 option_1">
                    <input type="submit" value="Submit" class="option_submit">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="advanced second">
    <h3 class="advanced_title">Advanced Search</h3>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 advanced_option">
        <form class="validation" name="advancedForm" novalidate ng-submit="advancedSearch()">
            <span class="error" ng-show="(advanced.cause == '' &&  advanced.ngo == '' )">Selected At least One dropdown  </span>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <select name="cause" class="option_1" ng-model="advanced.cause">
                    <option value="">Select Cause</option>
                    <option value="Education">Education</option>
                    <option value="Skill development">Skill development</option>
                    <option value="Children">Children</option>
                    <option value="Special needs">Special needs</option>
                    <option value="women empowerment">Women empowerment</option>
                    <option value="Health Care">Health Care</option>
                    <option value="Elderly Care">Elderly Care</option>
                    <option value="Environment">Environment</option>
                </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <select name="ngo" class="option_1" ng-model="advanced.ngo">
                    <option value="">Select NGO</option>
                    <option value="iCharity Compassionate Rural Association for Social Action (CRASA)">iCharity Compassionate Rural Association for Social Action (CRASA)</option>
                    <option value="Association for Sustainable Community Development (ASSCOD)">Association for Sustainable Community Development (ASSCOD) </option>
                    <option value="Singapore Association of Children (MGVS)">Singapore Association of Children (MGVS) </option>
                    <option value="RASTA Charitable Society NGO Educational Rural & Urban">RASTA Charitable Society NGO Educational Rural & Urban</option>
                    <option value="Society for Child Development (SFCD)">Development Society (ERUDS) Elta Education and Development Society </option>
                    <option value="Society for Child Development (SFCD)">Society for Child Development (SFCD) </option>
                    <option value="Alternative for Rural Movement (ARM)">Alternative for Rural Movement (ARM) </option>
                    <option value="Youth Development Society">Youth Development Society </option>
                </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 option_1">
                <input type="submit" value="Submit" class="option_submit">
            </div>
        </form>
    </div>

</div>

<div class="all_section">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="about-us">
            <h4 class="title">About us</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7 ">
            <a ui-sref="default.home">
                <div class="img">
                    <img src="public/img/img-1.png" style="width: 278px; height: 278px;">
                </div>
                <div class="info">
                    <p>About Us</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-2.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info">
                    <p>Our Staff</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-3.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info">
                    <p>Our Staff</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-4.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info">
                    <p>Our Staff</p>
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ministries">
            <h4 class="title">MINISTRIES</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7 ">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-1.png" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-2">
                    <p>Teens</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-2.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-2">
                    <p>Campus</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-3.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-2">
                    <p>Community</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-4.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-2">
                    <p>Church</p>
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="resources">
            <h4 class="title">RESOURCES</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7 ">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-1.png" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-3">
                    <p>Facilities</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-2.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-3">
                    <p>Discipleship Resoucres</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-3.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-3">
                    <p>NavMedia</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-4.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-3">
                    <p>NavNews</p>
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="giving">
            <h4 class="title">GIVING</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7 ">
            <a ui-sref="default.giveToStaff">
                <div class="img">
                    <img src="public/img/img-1.png" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-4">
                    <p>Give to Staff</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a ui-sref="default.giveToMinistryOrProjects">
                <div class="img">
                    <img src="public/img/img-2.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-4">
                    <p>Give to Ministries or Projects</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-3.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-4">
                    <p>Frequently Asked Questions</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ih-item colored square effect7">
            <a href="#">
                <div class="img">
                    <img src="public/img/img-4.png" width="278" height="278" style="width: 278px; height: 278px;">
                </div>
                <div class="info part-4">
                    <p>Leave a Navigator Legacy</p>
                </div>
            </a>
        </div>
    </div>

</div>